body {
  font-family: "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
}

textarea {
  font-family: "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}

.page-content,
.content-block {
  display: block;
  padding: 16px;
}

.html-content img,
.html-content iframe {
  max-width: 100%;
}