body {
  font-family: "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
}

textarea {
  font-family: "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}

::-webkit-input-placeholder {
  color: #9e9e9e;
}

.page-content,
.content-block {
  display: block;
  padding: 16px;
}

.html-content img,
.html-content iframe {
  max-width: 100%;
}

.content-wrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.logo img {
  height: 22px;
}