.multiselect__option--highlight {
  background: rgba(0, 0, 0, .12);
  outline: none;
  color: rgba(0, 0, 0, .87)
}

.multiselect__option--highlight:after {
  background: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .87)
}

.multiselect__option--selected {
  background: #f3f3f3;
  color: rgba(0, 0, 0, .87)
}

.multiselect__option--selected:after {
  color: rgba(0, 0, 0, .87)
}

.multiselect__option--selected.multiselect__option--highlight {
  background: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .87)
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .87)
}