$color-blue: #2196f3;
$color-green: #4CAF50;
$color-red: #F44336;
$color-orange: #F57C00;
$color-disable: rgba(0, 0, 0, .12);
$color-divider: rgba(0, 0, 0, .02);
$color-text: rgba(0, 0, 0, .87);
$color-secondary-text: rgba(0, 0, 0, .54);
$color-hint-text: rgba(0, 0, 0, .38);
$color-hint-block: #f4f4f4;