$color-blue: #2196f3;
$color-green: #4CAF50;
$color-red: #F44336;
$color-orange: #F57C00;
$color-light-blue: rgba(0, 170, 238,.2);
$color-disable: rgba(0, 0, 0, .12);
$color-divider: rgba(0, 0, 0, .04);
$color-text: rgba(0, 0, 0, .87);
$color-secondary-text: rgba(0, 0, 0, .54);
$color-hint-text: rgba(0, 0, 0, .38);
$color-hint-block: #f4f4f4;
$color-light-yellow:#ff9800;
$color-gray:#777;
$bg-light-blue:rgba(58, 115, 138, 0.2);
@mixin flex-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-vertical-center($shuxin:center) {
  -webkit-align-items: $shuxin;
  -ms-flex-align: $shuxin;
  align-items: $shuxin;
}

@mixin flex-horizontal-center($shuxin:center) {
  -webkit-justify-content: $shuxin;
  -ms-flex-pack: $shuxin;
  justify-content: $shuxin;
}
.flex-wrap{
  flex-wrap: wrap;
}

@mixin btn-self{
  font-size: 14px;
  color: $color-gray;
  border: 1px solid $color-gray;
  padding: 5px 10px;
  border-radius: 6px;
  line-height: 1;
}

.full-page{
  position: absolute;
    width: 100%;
    height: 100%;
    background: $bg-light-blue;
}